# Cut a release whenever a new tag is pushed to the repo.
name: Release
on:
  # Can be triggered from the tag.yaml workflow
  workflow_call:
    inputs:
      tag_name:
        required: true
        type: string
    secrets:
      publish_token:
        required: true
  # Or, developers can manually push a tag from their clone
  push:
    tags:
      - "v*.*.*"
permissions:
  id-token: write
  attestations: write
  contents: write
jobs:
  release:
    uses: ./.github/workflows/release_ruleset.yaml
    with:
      release_files: |
        dist/rules_img-*.tar.gz
        dist/img_linux_*
        dist/img_darwin_*
        dist/img_windows_*.exe
      prerelease: false
      tag_name: ${{ inputs.tag_name || github.ref_name }}
    secrets:
        inherit
  publish:
    needs: release
    uses: ./.github/workflows/publish.yaml
    with:
      tag_name: ${{ inputs.tag_name || github.ref_name }}
    secrets:
      publish_token: ${{ secrets.publish_token || secrets.BCR_PUBLISH_TOKEN }}
